<footer class="footer bg-neutral text-neutral-content items-center p-4">
    <aside class="grid-flow-col items-center">
        <svg xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" width="14mm" height="28mm" viewBox="0 0 14 28" version="1.1" id="svg5" inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)" sodipodi:docname="dk-synth-icon-white.svg">
            <defs id="defs2">
              <rect x="48.570564" y="43.173836" width="634.11566" height="129.5215" id="rect3531"/>
            </defs>
            <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" style="display:inline">
              <text xml:space="preserve" transform="scale(0.26458333)" id="text3529" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:40px;line-height:1.25;font-family:'Agency FB';-inkscape-font-specification:'Agency FB';white-space:pre;shape-inside:url(#rect3531);fill:#000000;fill-opacity:1;stroke:none"/>
              <g aria-label="DJK SYNTHESIS" id="text14537" style="font-size:25.4px;line-height:1.25;font-family:'Agency FB';-inkscape-font-specification:'Agency FB';stroke-width:0.264583" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
              <g id="g1687" style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-opacity:1" transform="matrix(0.77223835,0,0,0.77223835,0.26161873,0.24303123)">
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:1;stroke-opacity:1" id="rect30589" width="10.798377" height="24.898739" x="1.6486514" y="1.567042" ry="3.7765038" rx="1.0709134" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:1;stroke-opacity:1" id="rect30591" width="10.619891" height="0.13386418" x="1.7825091" y="14.507247" rx="1.0709143" ry="0.13386418" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:1.22778;stroke-opacity:1" id="rect30593-9" width="0.76789606" height="6.0192227" x="4.6612549" y="14.895148" rx="1.6754107" ry="0.12898324" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:1.22778;stroke-opacity:1" id="rect30593-9-3" width="0.76789606" height="6.0192227" x="8.7198257" y="14.895148" rx="1.6754107" ry="0.12898324" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.492951;stroke-opacity:1" id="rect30831" width="0.0034913525" height="5.6644521" x="5.0265503" y="20.639729" rx="0.23700103" ry="0.14698604" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.492951;stroke-opacity:1" id="rect30831-6" width="0.0034913525" height="5.6644521" x="9.1283951" y="20.685783" rx="0.23700103" ry="0.14698604" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.407931;stroke-opacity:1" id="rect30979" width="4.2742205" height="0.21458057" x="-12.90829" y="4.2415314" rx="0.95424527" ry="0" transform="rotate(-90)" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.276697;stroke-opacity:1" id="rect30979-4" width="1.9292063" height="0.21872637" x="3.3847201" y="11.804538" rx="0.43070686" ry="0.064311951" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.407931;stroke-opacity:1" id="rect30979-1" width="4.2742205" height="0.21458057" x="-12.90829" y="7.1019745" rx="0.95424527" ry="0" transform="rotate(-90)" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.276697;stroke-opacity:1" id="rect30979-4-8" width="1.9292063" height="0.21872637" x="6.245163" y="9.1587057" rx="0.43070686" ry="0.064311951" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.407931;stroke-opacity:1" id="rect30979-1-3" width="4.2742205" height="0.21458057" x="-12.90829" y="9.9624557" rx="0.95424527" ry="0" transform="rotate(-90)" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.276697;stroke-opacity:1" id="rect30979-4-8-9" width="1.9292063" height="0.21872637" x="9.1056595" y="10.746203" rx="0.43070686" ry="0.064311951" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <circle style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path31839" cy="5.471415" cx="4.7944946" r="1.7179236" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.499999;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="rect32912" width="0.078880221" height="0.85190642" x="-0.70937455" y="7.8301129" rx="0.80818832" transform="rotate(-45.461043)" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <circle style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path31839-8" cy="5.471415" cx="9.027916" r="1.7179236" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <rect style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.499999;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="rect32912-5" width="0.078880221" height="0.85190642" x="-9.1352453" y="-4.798986" rx="0.80818832" transform="rotate(-179.59041)" inkscape:export-filename="C:\Users\nosho\Documents\MIDI Controllers\logo-test.png" inkscape:export-xdpi="1200" inkscape:export-ydpi="1200"/>
                <text xml:space="preserve" style="font-size:10.5833px;line-height:1.25;font-family:'Agency FB';-inkscape-font-specification:'Agency FB';fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.264583;stroke-opacity:1" x="5.7021027" y="17.714432" id="text6128"><tspan sodipodi:role="line" id="tspan6126" style="fill:#000000;fill-opacity:0;stroke:#a6adbb;stroke-width:0.264583;stroke-opacity:1" x="5.7021027" y="17.714432"> </tspan></text>
              </g>
              <text xml:space="preserve" style="font-size:7.7611px;line-height:1.25;font-family:'Agency FB';-inkscape-font-specification:'Agency FB';stroke-width:0.264583" x="14.992788" y="125.65385" id="text62360"><tspan sodipodi:role="line" id="tspan62358" style="stroke-width:0.264583" x="14.992788" y="125.65385"/></text>
              <text xml:space="preserve" style="font-size:7.7611px;line-height:1.25;font-family:'Agency FB';-inkscape-font-specification:'Agency FB';stroke-width:0.264583" x="18.5625" y="145.64423" id="text64368"><tspan sodipodi:role="line" id="tspan64366" style="stroke-width:0.264583" x="18.5625" y="145.64423"/></text>
            </g>
          </svg>
      <p>Copyright © {{date}} - All rights reserved</p>
    </aside>
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current">
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
        </svg>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current">
          <path
            d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
        </svg>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current">
          <path
            d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
        </svg>
      </a>
    </nav>
  </footer>
