<div class="mx-auto w-3/4">
   <h2 class="text-lg font-bold my-6">Sign up for the DK Synthesis Newsletter!</h2>
   <p class="text-md mb-6">Stay up to date on new products, educational articles, and news. Your contact info is kept private and will never be shared with third parties.</p>
   <form class="flex flex-col gap-6" [formGroup]="newsletterForm" (submit)="submitNewsletterForm()">
      <label class="input input-bordered flex items-center gap-2" for="newsletterName">
         <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70">
            <path
               d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
         </svg>
         <input class="grow" id="newsletterName" type="text" formControlName="name" placeholder="Name"/>
      </label>
      <label class="input input-bordered flex items-center gap-2" for="newsletterEmail">
         <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70">
            <path
               d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
            <path
               d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
         </svg>
         <input class="grow" id="newsletterEmail" type="email" formControlName="email" placeholder="Email"/>
      </label>
      <button class="btn btn-primary mb-10" type="submit" [disabled]="!newsletterForm.valid">Sign up for the newsletter</button>
   </form>

   @if (hasSignedUp) {
   <div role="alert" class="alert alert-success">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>You have successfully signed up!</span>
    </div>
   }

   <div class="divider divider-primary my-10">OR</div>

   <h2 class="text-lg font-bold mb-6">Drop us a line!</h2>
   <p class="text-md mb-6">Contact us with any questions about our products, or for help troubleshooting issues, or general comments or feedback. We would love to hear from you!</p>
   <form class="flex flex-col gap-6" [formGroup]="contactForm" (submit)="submitContactForm()">
      <label class="input input-bordered flex items-center gap-2" for="name">
         <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70">
            <path
               d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
         </svg>
         <input class="grow" id="name" type="text" formControlName="name" placeholder="Name"/>
      </label>
      <label class="input input-bordered flex items-center gap-2" for="email">
         <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70">
            <path
               d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
            <path
               d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
         </svg>
         <input class="grow" id="email" type="email" formControlName="email" placeholder="Email"/>
      </label>
      <label class="form-control" for="contactText">
         <textarea id="contactText" class="textarea textarea-bordered" formControlName="text" placeholder="Tell us what's on your mind."></textarea>
      </label>
      <button class="btn btn-primary mb-10" type="submit" [disabled]="!contactForm.valid">Submit</button>
   </form>

   @if (hasSubmittedFeedback) {
      <div role="alert" class="alert alert-success mb-10">
         <svg
           xmlns="http://www.w3.org/2000/svg"
           class="h-6 w-6 shrink-0 stroke-current"
           fill="none"
           viewBox="0 0 24 24">
           <path
             stroke-linecap="round"
             stroke-linejoin="round"
             stroke-width="2"
             d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
         </svg>
         <span>Thank you! We will respond as soon as we can.</span>
       </div>
      }

</div>
