<div class="prose w-2/3 mx-auto">
    <div class="breadcrumbs text-sm">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/shop">Products</a></li>
            <li>{{product?.name}}</li>
        </ul>
    </div>

    @if (isLoading) {
        <div class="flex justify-center mt-40">
            <span class="loading loading-spinner loading-lg"></span> 
        </div>
    } @else {

    <h1>{{product?.name}}</h1>
    <div class="w-3/4 mx-auto">
        <swiper-container navigation="true" pagination="true" grab-cursor loop mousewheel>
            
            <swiper-slide>
                <img src={{product?.imgUrl?.front}}/>
            </swiper-slide>
            @if (product?.imgUrl?.side) {
            <swiper-slide>
                <img src={{product?.imgUrl?.side}}/>
            </swiper-slide>
            }
            @if (product?.imgUrl?.back) {
            <swiper-slide>
                <img src={{product?.imgUrl?.back}}/>
            </swiper-slide>
            }
        </swiper-container>
    </div>
    <div class="text-center">
        <p>
        {{product?.description}}
        </p>
        <p class="text-lg">
        ${{product?.price}}.00
        </p>
        <div class="relative w-40 mx-auto">
            <button class="absolute left-0 top-0 rounded-r-none btn btn-square" (click)="decreaseQty()">-</button>
            <input type="text" class="w-full text-center px-12 input input-bordered" value={{productQty}}/>
            <button class="absolute right-0 top-0 rounded-l-none btn btn-square" (click)="increaseQty()">+</button>
        </div>
    </div>
    }
</div>

@if (!isLoading) { 
<div class="w-1/2 mx-auto">
    <div class="flex flex-wrap justify-center gap-y-10 gap-x-4 my-10">
        <button class="btn btn-primary text-xl mx-2" (click)="addToCart(product)">Add to Cart</button>
        <button class="btn btn-neutral text-md mx-2" routerLink="/shop">Back to products</button>
        
    </div>

    @if (addedToCart) {
    <div role="alert" class="alert alert-success my-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Successfully added to <a class="link" routerLink="/cart">cart!</a></span>
      </div>
    }
</div>
}

