    <div class="w-3/4 mx-auto">
      <h2 class="text-xl">Products</h2>
    
    @if (isLoading) {
      <div class="flex justify-center mt-40">
          <span class="loading loading-spinner loading-lg"></span> 
      </div>
  } @else {
    <div class="flex flex-wrap justify-center gap-4 my-10">
      <div class="card md:card-side card-bordered bg-base-100 shadow-xl flex-card-sm md:flex-card"
          *ngFor="let product of products">
          <figure>
            <img class="w-60" src={{product.imgUrl?.front}}/>
          </figure>
          <div class="card-body">
            <h2 class="card-title">{{product.name}}</h2>
            <p>{{product.description}}</p>
            <p class="text-lg font-bold">${{product.price}}.00</p>
            <div class="card-actions justify-end">
              <a class="btn btn-neutral" [routerLink]="['/product', product.name]">Product details</a>
            </div>
          </div>    
      </div>
    </div>
  }
  </div>