<div class="card card-side bg-base-100 shadow-xl w-2/3 mx-auto">
    <figure>
      <img src='synthrig.jpg'/>
    </figure>
    <div class="card-body">
      <h2 class="card-title">Welcome!</h2>
      <p>We offer a range analog synthesizer modules in the popular Eurorack format. 
        We also offer a range of educational resources to help you become more familiar with this fun and addictive world of analog synthesis.</p>
      <div class="card-actions justify-end">
        <a class="btn btn-neutral" routerLink="/shop">Shop</a>
      </div>
    </div>
  </div>
