<div class="card sm:card-side bg-base-100 shadow-xl w-2/3 mx-auto my-10">
    <figure>
      <img src='synthrig.jpg'/>
    </figure>
    <div class="card-body">
      <h2 class="card-title">Welcome!</h2>
      <p>We offer a range of analog synthesizer modules and parts in the popular Eurorack format. 
        We also offer many educational resources to help you become more familiar with the fun and addictive world of analog synthesis.</p>
      <div class="card-actions justify-end">
        <a class="btn btn-neutral" routerLink="/shop">Shop</a>
      </div>
    </div>    
</div>

<!-- <div class="my-10 mx-auto w-3/4">
  <p *ngIf="message">
    {{ message.message }}
  </p>
  <p *ngIf="!message">
    Not connected to the DK Synth server.
  </p>
</div> -->

